<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Add Tasks</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/task.css" rel="stylesheet">
</head>

<body>



    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Admin Add Tasks</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card">
                                <form role="form" action="/admin/addtask" method="post" class="col-lg-6">
                                    Year<input class="form-control input-default" type="text" name="year" required="required">
                                    Month<input class="form-control input-default" type="text" name="month" required="required">
                                    Day<input class="form-control input-default" type="text" name="day" required="required">
                                    Start Time and End Time must be 24h expression separated by English ':', for example: 18:15. <br>
                                    Start Time<input class="form-control input-default" type="text" name="startTime" required="required">
                                    End Time<input class="form-control input-default" type="text" name="endTime" required="required">
                                    Overview<input class="form-control input-default" type="text" name="overview" required="required">
                                    Details<textarea class="form-control" name="detail"></textarea>
                                    <button type="submit" class="btn btn-default">submit</button>
                                </form>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>
                                    © ACM Class 2019<br>
                                    Developers: <a href="https://amagi.yukisaki.io/" target="_blank">Amagi_Yukisaki</a>, <a href="https://gitee.com/cong258258/" target="_blank">cong258258</a>, <a href="https://github.com/XOR-op" target="_blank">ReLU</a> and <a href="https://acrazyczy.github.io" target="_blank">crazy_cloud</a>(Mascot).<br>
                                    Server Maintenance: <a href="https://amagi.yukisaki.io/" target="_blank">Amagi_Yukisaki</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>






</body>

</html>