<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Delete Tasks</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/task.css" rel="stylesheet">
</head>

<body>



    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Admin Delete Tasks</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card">
                                <form role="form" action="/admin/deltask" method="post" class="form-inline">
                                    <h5>
                                        ID&nbsp&nbsp&nbsp
                                        <input class="form-control input-default" type="text" name="id" required="required">
                                        <button type="submit" class="btn btn-danger">submit</button>
                                    </h5>
                                </form>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>
                                    © ACM Class 2019<br>
                                    Developers: <a href="https://amagi.yukisaki.io/" target="_blank">Amagi_Yukisaki</a>, <a href="https://gitee.com/cong258258/" target="_blank">cong258258</a>, <a href="https://github.com/XOR-op" target="_blank">ReLU</a> and <a href="https://acrazyczy.github.io" target="_blank">crazy_cloud</a>(Mascot).<br>
                                    Server Maintenance: <a href="https://amagi.yukisaki.io/" target="_blank">Amagi_Yukisaki</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>






</body>

</html>