<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Welcome to ACM Calendar!</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/task.css" rel="stylesheet">
</head>

<body>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Welcome to ACM Calendar!</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <!-- /# card -->
                            <div class="card">
                                <form action="/result" method="post">
                                    <h5>Year：<input class="form-control input-default" type="text" name="Year" required="required"></h5>
                                    <h5>Month：<input class="form-control input-default" type="text" name="Month" required="required"></h5>
                                    <span><button type="submit" class="btn btn-primary">Go</button>
                                        <a href={{cur_Link}}>
                                            <button type="button"  class="btn btn-info">Go to current month</button>
                                        </a>
                                        <a href="/login">
                                            <button type="button"  class="btn btn-info">Administrator Login</button>
                                        </a>
                                    </span>
                                </form>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>© ACM Class 2019</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>









</body>

</html>